.FlightForm {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    border: 2px solid darkgoldenrod;
    border-radius: 30%;
    background-size: 200%;
    background-position-y: -100px;
    background-position-x: -125px;
    background-image: url("../../82164.jpg");
    background-repeat: no-repeat;
    width: 240px;
    height: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    color:blue;
    
}
.container{
    
    margin: 10px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
 }
 
 .item{
    flex-basis: auto;
}

.SearchForm {
    margin-top: 20px;
    border: 2px solid darkgoldenrod;
    border-radius: 30%;
    background-size: 200%;
    background-position-y: -180px;
    background-position-x: -125px;
    background-image: url("../../82164.jpg");
    background-repeat: no-repeat;
    width: 200px;
    height: 75px;
    margin-top: 30px;
    padding: 25px;
    color: blue;
}

.CreateForm {
    
    border: 2px solid darkgoldenrod;
    border-radius: 30%;
    background-size: 200%;
    background-position-y: -275px;
    background-position-x: -210px;
    background-image: url("../../82164.jpg");
    background-repeat: no-repeat;
    width: 400px;
    height:240px;
    margin-top: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 70px;
    color:blue;
}

