.FlightForm {
    border: 5px solid rgb(217, 234, 238);
    border-radius: 20%;
    background-color: rgb(15, 62, 116);
    width: 90%;
    height: 10%;
    margin: auto;
    padding: 30px;
    color: rgb(243, 243, 245);
}